<div> 
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title > {{username}}</mat-card-title>
      <mat-card-title > {{useremail}}</mat-card-title>
      <mat-card-subtitle >{{title}}</mat-card-subtitle>
    </mat-card-header>
  
    
    <mat-card-content>
      <p>
        {{body}}
      </p>
    </mat-card-content>



    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          Comments
          </mat-panel-title>
         
        </mat-expansion-panel-header>
       
        <mat-card class="example" *ngFor="let comment of postComment">
         
          <mat-card-header>
            <div mat-card-avatar class="image"></div>
            <mat-card-title class="font_email">{{comment.email}}</mat-card-title>
            <mat-card-subtitle class="font">{{comment.body}}</mat-card-subtitle>
          </mat-card-header>
       
        </mat-card>
  
       
      </mat-expansion-panel>
    </mat-accordion>


    <mat-card-actions>
      
    
      
    </mat-card-actions>
  </mat-card>
  </div>
