<div class="card text-grey bg-secondary mb-3" style="width: 18rem;">
  <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">User Details</h5>
    <p class="card-text">{{single_user_data.username}}</p>
 
    <p class="card-text">{{single_user_data.email}}</p> 
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{single_user_data.phone}}</li>
    <li class="list-group-item">{{single_user_data.website}}</li>
    <li class="list-group-item">{{single_user_data_city}}</li>
    
  </ul>
  
</div>